/*headersection*/

@font-face {
    font-family: volte;
    src: url(font/VolteLight.otf);
}

.navbar-brand {
    margin-left: 23px;
    margin-bottom: 4px;
}

#header {
    background-image: url(img/bg-78.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.navbar-text {
    margin-right: 20px;
    margin-top: 15px;
}

.home {
    color: #fd5c4c;
    font-size: 17px;
    margin-left: 19px;
    letter-spacing: .025em;
}

.lists {
    font-size: 17px;
    color: black;
    margin-left: 19px;
    letter-spacing: .025em;
}

.lists:hover {
    color: #fd5c4c;
}

.navbar-text p {
    font-size: 17px;
    letter-spacing: .025em;
    margin-right: 5px;
}

.num {
    font-size: 16.5px;
    color: #fd5c4c;
    letter-spacing: .025em;
}

.purchase {
    border: 1px solid #fd5c4c;
    color: white;
    padding: 13px 25px;
    border-radius: 30px;
    color: #fd5c4c;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.09em;
    margin-right: 28px;
}

.purchase:hover {
    background: #fd5c4c;
    color: white;
    box-shadow: 0 8px 15px -6px grey;
}


/* avenuesection */

#avenue {
    height: 700px;
    overflow: hidden;
}

.avenue {
    font-size: 22px;
    color: #fd5c4c;
}

.article {
    margin-top: 120px;
}

.laptop {
    width: 900px;
}

.creative {
    font-size: 60px;
    color: black;
}

.with {
    font-size: 18px;
    line-height: 30px;
    color: grey;
    margin-top: 50px;
}

.early {
    border-radius: 30px;
    padding: 17px 50px;
    background: linear-gradient(to right, #ff3385 0%, #ff471a 100%);
    color: white;
    margin-top: 40px;
}

.early:hover {
    background: #ff3385;
    color: white;
    box-shadow: 0 8px 15px -6px grey;
}

.see {
    margin-right: 55px;
    margin-top: 60px;
}

.see:hover {
    color: #fd5c4c;
}

.pic {
    margin-left: 5px;
}


/* consultsection */

#consult {
    margin: 120px;
}


/* aboutsection */

#About {
    margin-top: 200px;
    background-image: url(img/bg-76.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -300px 160px;
}

.it {
    color: #fd5c4c;
    font-size: 18px;
}

.simple {
    margin-bottom: 100px;
    font-size: 60px;
}

.icon {
    padding-left: 50px;
    padding-top: 40px;
}

.detail {
    height: 355px;
    width: 345px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
}

.idea {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.idea h3 {
    padding: 0 10px;
}

.kick {
    margin-top: 30px;
    color: gray;
    padding: 0 10px;
    font-size: 19px;
}

.seven {
    position: relative;
    top: 25px;
    height: 93%;
}

.eight {
    position: absolute;
    left: 150px;
}

.good {
    margin-top: 200px;
    padding-bottom: 150px;
}

.about-us {
    margin-left: 100px;
    margin-top: 20px;
}

.us {
    color: #fd5c4c;
    font-size: 18px;
}

.font {
    font-size: 66px;
}

.business {
    margin-top: 50px;
    color: grey;
}

.text {
    margin-top: 50px;
    color: gray;
    font-size: 16px;
    line-height: 1.7;
}


/* servicesection */

#service {
    margin-top: 200px;
    margin-bottom: 100px;
}

.best {
    margin-top: 80px;
}

.serve {
    font-size: 20px;
    margin-top: 110px;
    color: #fd5c4c;
}

.best {
    font-size: 60px;
    margin: 0;
}

.for {
    font-size: 60px;
}

.description {
    margin-top: 40px;
    font-size: 20px;
    color: gray;
}

.brand-animation {
    margin-top: 30px;
}

.branding {
    height: 290px;
    width: 260px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
    margin-top: 30px;
}

.branding:hover {
    background: #fd5c4c;
    color: white;
}

.book {
    padding-left: 35px;
    padding-top: 40px;
}

.brand {
    padding-left: 40px;
    padding-right: 39px;
}

.books {
    margin-top: 30px;
}

.animate {
    margin-top: 20px;
    color: gray;
    line-height: 25px;
}

.project {
    margin-top: 200px;
}

.pro {
    color: #fd5c4c;
    font-size: 20px;
    letter-spacing: 0.09em;
}

.works {
    font-size: 60px;
}

#latest {
    font-size: 70px;
}

.list {
    margin-top: 30px;
    margin-left: 50px;
}

.lis {
    margin-top: 40px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

ul li {
    display: inline;
    text-decoration: none;
}

li a {
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
}

.print {
    color: gray;
}

.print:hover {
    color: black;
    text-decoration: none;
}

.all {
    color: black;
    text-decoration: none;
}

.project-list {
    margin-top: 70px;
    margin-bottom: 150px;
}

.photo {
    width: 120%;
}

.box {
    height: 150px;
    width: 300px;
}

.fasion {
    height: 80px;
    width: 250px;
    background-color: cornsilk;
    position: absolute;
    text-align: center;
    padding: 10px 10px;
    margin-left: 45px;
}

.fasion:hover {
    bottom: 50px;
    transition-duration: 0.3s;
    transition: top 2s;
}


/* projectnumsection */

#project-number {
    margin-top: 200px;
}

.done {
    color: #fd5c4c;
    font-size: 17px;
}

.number {
    font-size: 60px;
    color: black;
    font-weight: bold;
}


/* clientsection */

#client {
    margin-top: 200px;
    background-image: url(img/bg-78.svg);
    background-repeat: no-repeat;
}

.theme {
    font-size: 30px;
}

.beautiful {
    margin-top: 170px;
    position: relative;
}

.dav {
    margin-left: 50px;
}

.david {
    padding: 50px 0;
}

.holand {
    margin-top: 60px;
    margin-left: 80px;
}

.senior {
    margin-left: 60px;
    color: gray;
}

.ninety {
    font-size: 100px;
    color: #fd5c4c;
}

.twenty {
    position: absolute;
    top: 600px;
    left: 450px;
}

.test {
    margin-top: 40px;
    font-size: 18px;
    color: #fd5c4c;
}

.trust {
    font-size: 60px;
}

.girl {
    margin-top: 200px;
}


/* cartsection */

#cart {
    margin-top: 300px;
    background-image: url(img/bg-76.svg);
    background-position: 945px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.plans {
    color: #fd5c4c;
    font-size: 18px;
}

.plan {
    text-align: center;
}

.afford {
    font-size: 60px;
}

.personal {
    width: 380px;
    margin: 100px 0;
    box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07);
}

.cartinner {
    text-align: center;
    padding-top: 70px;
}

.cartin {
    text-align: center;
    margin-top: 100px;
    padding: 0 90px;
}

.cartbig-two {
    box-shadow: 5px 5px 40px silver;
}

.nine {
    font-size: 50px;
}

.custom {
    text-decoration-line: overline;
    text-decoration-line: underline;
}

.editor {
    text-align: center;
    margin-bottom: 100px;
}

.post img:hover {
    box-shadow: 0 8px 15px -6px grey;
}

.popular {
    text-align: center;
    background: linear-gradient(to right, #ff3385 0%, #ff471a 100%);
    width: 160px;
    margin: auto;
    border-radius: 0 0 50em 50em;
    padding: 5px 30px;
    color: white;
    position: absolute;
    left: 32%;
    top: 100px;
    line-height: 1.5em;
}

.start {
    border: 1px solid #fd5c4c;
    color: white;
    padding: 13px 25px;
    border-radius: 30px;
    color: #fd5c4c;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.09em;
    margin-bottom: 70px;
}

.start:hover {
    background: #fd5c4c;
    color: white;
    box-shadow: 0 8px 15px -6px grey;
}

.second {
    background: #fd5c4c;
    color: white;
}

.third {
    margin-bottom: 50px;
}

.edit {
    color: #fd5c4c;
    font-size: 18px;
    letter-spacing: 0.09em;
}

.latest {
    font-size: 60px;
    color: black;
}

.posts {
    font-weight: bold;
}

.post {
    margin-bottom: 150px;
}

.steel {
    margin-top: 20px;
}

.plant {
    font-size: 18px;
    font-weight: 500;
}

.plant:hover {
    color: #fd5c4c;
    cursor: pointer;
}

.five {
    font-size: 15px;
    color: gray;
}


/* footersection */

footer {
    margin-top: 200px;
    margin-bottom: 100px;
}

.footright {
    margin-right: 160px;
    color: gray;
}

.last {
    margin: 80px 0;
}

.link {
    margin-left: 70%;
}

.foot p {
    color: grey;
}

.foot p:hover {
    color: black;
    cursor: pointer;
}

.foot {
    line-height: 15px;
}

.foot h5 {
    margin-bottom: 30px;
    color: black;
}

.ave {
    color: #fd5c4c;
    font-weight: bold;
}